extends layout

block content
    script(src="/javascripts/dropzone.js")

    h1= 'Moodboard Bravo'
    h2= test
    p Welcome to #{title}

    form(action="/file-upload" class="dropzone" id="my-awesome-dropzone")
        input(type="file" name="file")