extends layout

block content
    h1= 'Moodboard Bravo'
    h2= test
    p Welcome to #{title}
    form()
        p
            | ENTER IMGUR ALBUM LINK:
            input(type='text', name='albumlink', value='' id='albumlink')
            button(id='submit-button') Submit

    script(src='/javascripts/index.js')